<div class="details">
    <div class="game-banner">
        <img class="game-banner-img" [src]="currentGame.background_image" alt="background_image">
    </div>
    <div class="game-content">
        <div class="details-wrapper">
            <div class="game-header">
                <h1 class="game-header-title">{{currentGame.name}}</h1>
                <h2 class="game-header-release-date">Released {{currentGame.released | date}}</h2>
                <p class="game-header-genres">
                    <span *ngFor="let genre of currentGame.genres; let last = last" >{{genre.name}} <span *ngIf="!last">, </span>  </span>
                </p>
                <div class="game-gauge">
                    <mwl-gauge
                        class="two"
                        [max]="100"
                        [dialStartAngle]="180"
                        [dialEndAngle]="0"
                        [value]="gameRating"
                        [animated]="true"
                        [color]="getColor"
                        [animationDuration]="2"
                    >
                    <a class="game-gauge-label" target="_blank" [href]="currentGame.metacritic_url">Metacrit</a>
                    </mwl-gauge>
                </div>
            </div>
            <!-- Tabs -->
            <app-game-tabs [game]="currentGame"></app-game-tabs>
        </div>
    </div>
</div>