body {
    font-family: Roboto, "Helveltica Neue", sans-serif;
    background-color: #151515;
    padding-top: 60px;
    height: 100%;
}

body * {
    font-family: Roboto, "Helveltica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Custom scroll
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #151515;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #64ffda;
    border-radius: 10px; 
}